<div class="container">
  <div class="row">
    <div class="col-4">
      <h3> Player1 <span [ngClass]="(currplayer.shape=='X')?'big':'small'">X</span> : {{p1score}} </h3>
    </div>
    <div class="col-4">
      <h3> Player2 <span [ngClass]="(currplayer.shape=='O')?'big':'small'">O</span> : {{p2score}} </h3>
    </div>
    <div class="col-4">
      <h3> Draws : {{drawscore}} </h3>
    </div>
  </div>

  <div class="row">
      
    <div class="col-12 message">
      {{ displaymessage }}
    </div>
    
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row" *ngFor="let row of [0,1,2]">
        <div *ngFor="let col of [0,1,2]">
          <app-cell class="nospace" (cellClick)="callBack($event)" [cell]="getCellValue(row,col)"></app-cell>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
</div>